$orange : rgba(243, 156, 18,1.0);
$bleu : rgba(52, 152, 219,1.0);
$vert : rgba(46, 204, 113,1.0);
$gris : rgba(52, 73, 94,1.0);
$rouge : rgba(231, 76, 60,1.0);
$vertpmu : #00a01e;

 @import "compass/css3";

@font-face {
  font-family: 'theboldfont';
  src: url('../contenu/theboldfont.ttf');
 
}

@font-face {
  font-family:'big_noodle_titling';
  src: url('../contenu/titling/big_noodle_titling.ttf');
}
@import "compass/css3";

body {
  margin: 0;
}
video { 
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url('contenu/cheval.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}







/* ---- PAGE INDEX.PHP ----- */ 

.polina { 

  margin-top: 500px;
  margin-left: 350px;

  button{
    font-size: 1.3rem;
    background-color: $rouge;
    color: #fff;
    text-align: center;
    border-radius: 5px;


    } a {
      display: inline-block;
      text-decoration: none;
      color: #fff;
      font-size: 3vw;
      font-weight: bolder;

    }

  }



  .para1 {
   text-align: center;
 }


 .logo-pmu {
  height: 20%;
  width: 20%;
  position: fixed-top;
  position: absolute;
  transition-duration: 1s;


  &:hover {
    transform: scale(1.07);
    transition-duration: 1s;
  }

}


















/* ----- FOOTER ---- */ 

.footer {
  background-color:#e0e0eb;
}


.traitbas
{
  border-top: 2px solid black;
  padding-top: 12px;
  margin-top: 10px;
}

.tipo {
  font-style:italic;
}


.taille {
  font-size:10px;
}




















/* ------ JEUX ------ */


.commentjouer {
  font-family:'big_noodle_titling';
  font-size: 8rem;
  color: #e55706;
  text-align: center;
  font-weight: bolder;
  
}
.section-comment {
  background: #063e76;
}


.section-comment {
  .instructions-container {
    list-style: none;
    margin: 80px 0px 0;
    font-size: 0px;
    background-color: #ffffff;
    border: 4px solid #dc4605;

  }
}

.section-comment {
  .instructions-container {
    .instruction {
      display: inline-block;
      width: 33%;
      font-size: 20px;
      min-height: 235px;
      vertical-align: top;
      background-color: #ffffff;
      color: #261c64;
      padding: 116px 10px 148px;
      position: relative;
      box-sizing: border-box;

    }

  }
}

.section-comment {
  .instructions-container {
    .instruction {
      .puce {
        width: 54px;
        height: 54px;
        border: 3px solid #dc4605;
        background-color: #dc4605;
        position: absolute;
        text-align: center;
        top: -30px;
        z-index: 30;
        box-sizing: border-box;
        border-radius: 28px;
        left: 0px;
        right: 0px;
        margin-left: auto;
        margin-right: auto;

      }

    }

  }
}

.section-comment {
  .instructions-container {
    .instruction {
      .puce {
        .puce-inner {
          width: 48px;
          height: 48px;
          border: 3px solid #ffffff;
          margin: 0 auto;
          color: #ffffff;
          line-height: 40px;
          font-size: 1.250em;
          font-weight: bold;
          border-radius: 25px;
          background: #e55706;

        }

      }

    }

  }
}


.section-comment {
  .instructions-container {
    .instruction {
      h4 {
        color: #dc4605;
        font-size: 0.875em;
      }
    }
  }
}
.section-comment {
  .instructions-container {
    .instruction { 
      p {
        font-size: 0.750em;
        margin-top: 10px;
        line-height: 1.75em;

      }
    }
  }
}

.section-comment {
  .instructions-container {
    .instruction { 
      p {
        a {
          color: #dc4605;
          text-decoration: underline;
          font-weight: bold;
          text-transform: uppercase;
          text-align: center;

        }



      }
    }
  }
}


.section-comment {
  .instructions-container {
    .instruction { 
      &:after {
        display: block;
        width: 1px;
        height: 50%;
        content: " ";
        background-color: #dc4605;
        position: absolute;
        top: 90px;
        right: 0;
        z-index: 20;
      }

    }

  }
}


.section-comment {
  .details {
    font-size: 0.75em;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 3px;

  }
}







.container-fluid {
   
  h1 {
    font-family:'big_noodle_titling';
    font-size: 3em;
    
  }
  .row {
    .text-pub{
      margin-top: 100px;
      padding: 20px;
      font-size: 2em;
      
      
      li {
        padding-top: 30px;
        list-style-type: none;
        border-left: 1px solid $vertpmu;
        padding-left: 10px;


      }
    }
    .bg-pub {
      background-image: url(../contenu/images/pub.png);
      background-repeat: no-repeat;
      height: 825px;
      img {
        height: 500px;
        width: 300px;
      }
  
    }
  }
}












/* ----- VALIDER ------ */


.validé {
  padding-bottom: 50px;
  padding-top: 50px;
  font-size: 15px;

  h1{
    border-bottom: 1px solid $vertpmu;
  }
  p {
    a {
      color: $vertpmu;
      text-decoration: none;
      font-family: 'big_noodle_titling';
      font-size: 20px;
      &:hover {
        transform:scale(1.1);
      }
    }
  }
}

.block2-valider {
  height: 13vw;
  .logo-valider {
     img{
      height: 50px;
      width: 200px;
     }

  }
}
















/* ----- Inscription ------ */



.container-fluid {
  .row {
    .banniere {
      p { 

        text-align :center;
        font-size:  1.6em;
        font-family: 'big_noodle_titling';
        padding-top: 9px;
      }

    }
  }
}

.box-formulaire {
  background-color: $vertpmu;
  border-radius: 5px;
  h1 {
    font-size: 1.5rem;
    color: #fff;
    font-weight: bolder;
  }
}


.bg1{
  background-image: url('../contenu/images/pelouse.jpg');
  padding: 61px;


} 

form{
  formulaire {

    text-align: center;
  }
}

.requis {
  border-radius: 10px;
  background-color: #fff;
  &:focus {
    background-color: $rouge;
  }
}



.textarea {
  border-radius: 10px;
  background-color: $rouge;
  &:focus{
   background-color: #ffffff;

 }

}

.text-formu {
  color: #fff;
  font-size: bolder;

}

.envoyer {
  text-align: center;
  background-color: rgba(231, 76, 60,1.0);
  border-radius: 10px;
  text-align: center;
  &:hover {
    transform: scale(1.2);
    background-color: rgba(231, 76, 60,.4);
    color: #ffffff;

  }
}



.navi {
  background-color:#808080;
}

.navbar-default .navbar-nav  li  a {
  color:white;

}


.result2 {
  h1 {
  font-size: 20px;
  


}











/*------ PAGE RESULTATS -------- */ 


  
  table {
    border-collapse: collapse;
    width: 100%;

    tr {

      height: 50%;
      th {
        background-color: $vertpmu;
        color: white;
        padding:10px;
      }

      td {
        vertical-align: bottom;
        padding: 10px;
        border-bottom: 1px solid #ddd

      }
      &:hover {
        background-color: #f5f5f5
      }
      &:nth-child(even) {
        background-color: #f2f2f2
      }
    }
  }
}




.result1 {
  margin-top: 12vw;
  border: 1px solid #ecf0f1;
  background-color: #ecf0f1;
  font-family: 'big_noodle_titling';
  text-align: center;
  padding: 30px 20px 10px 30px;
  border-radius: 3px;
  font-size: 1.7em;

}

.form-verif {
  input {
height: 40px;
    @include border-radius(5px);

  }
}

.container-fluid {  
  .row {  
    .block2-result {
      background-image: url(../contenu/images/fond.png);
      background-size: cover;
      height: 400px;
    }
   }
}


.btn-verif {
  font-family: 'big_noodle_titling';
  background: #00a01d;
  background-image: -webkit-linear-gradient(top, #00a01d, #016e15);
  background-image: linear-gradient(to bottom, #00a01d, #016e15);
  border-radius: 6px;
  box-shadow: 0px 6px 3px #035410;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  &:hover {
  background: #005c11;
  background-image: -webkit-linear-gradient(top, #005c11, #02c726);
  background-image: linear-gradient(to bottom, #005c11, #02c726);
  text-decoration: none;
  }
}









@media screen and (max-width: 1250px)
{
    .container-fluid {
      .row {
        .block2-result {
          .horloge {
            display: none;
            visibility: hidden;
          }
        }
      }
    }
}


.horloge {
  margin-top: 15vw;
}




.clock {
  width:193px;
  height:193px;
  border-radius:50%;
  margin:auto;
  position:absolute;
  top:0; right:0; bottom:0; left:0;
  background:#f0f1e9;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2), inset 0 3px 0 rgba(255,255,255,0.5), inset 0 -4px 0 rgba(0,0,0,0.1), 0 2px 5px rgba(0,0,0,0.2);
  /* background: linear-gradient(top, #f0f1e9, #f0f1e9 100%);*/
}
.clock::before {
  content:'';
  width:130px;
  height:130px;
  position:absolute;
  margin:auto;
  top:0; right:0; bottom:0; left:0;
  border-radius:50%;
  background: -webkit-linear-gradient(top, #e9eae2, #f5f5ec 100%);
  background: -moz-linear-gradient(top, #e9eae2, #f5f5ec 100%);
  background: linear-gradient(top, #e9eae2, #f5f5ec 100%);
}

.numbers, clockwise {
  width:100%;
  height:100%;
  border-radius:50%;
}

.numbers ul {
  list-style:none;
}

.numbers ul li {
  position:absolute;
  width:1.5em;
  height:1.5em;
  text-align:center;
  line-height:1.5em;
  font-size:1.3em;
  color:#a5a595;
}

.numbers ul li:first-child {
  top:0;
  left:50%;
  margin-left:-0.75em;
}
.numbers ul li:nth-child(2){
  top:50%;
  right:0;
  margin-top:-0.75em;
}
.numbers ul li:nth-child(3){
  left:50%;
  bottom:0;
  margin-left:-0.75em;
}
.numbers ul li:last-child{
  top:50%;
  left:0;
  margin-top:-0.75em;
}

.clockwise .center, .support {
  position:absolute;
  width:10px;
  height:10px;
  border-radius:50%;
  background: radial-gradient(center center, circle , #ffffff, #837874 97%, #b4b2aa 100%);
  background: -moz-radial-gradient(center center, circle,#ffffff, #837874 97%, #b4b2aa 100%);
  background: -webkit-radial-gradient(center center, circle , #ffffff, #837874 97%, #b4b2aa 100%);
  background-position:50% -12px;
  box-shadow: 0 3px 5px rgba(0,0,0,0.3);
}

.clockwise .center {
  left:50%; margin-left:-5px;
  top:50%; margin-top:-5px;
  z-index:5;
}





[class*="hand-"] {
  border-radius: 100% 100% 5px 5px;
  box-shadow: 0 0 0.5em rgba(black,0.2);
  left: 50%;
  position: absolute;
  top: 50%;
  z-index: 4;
  box-shadow:0 5px 5px rgba(0,0,0,0.3);
}
.hand-second {
  width: 2px;
  top: 18px;
  height: 78px;
  background:#f16e54;
    transform-origin: 50% 100%;
}

.hand-minute {
  width: 6px;
  top:26px;
  margin-left:-3px;
  height: 88px;
  background:#68645b;
  transform-origin: 50% 80%;
}

.hand-hour {
  width: 6px;
  top: 56px;
  transform-origin: 50% 40px;
  margin-left:-3px;
  height: 50px; 
  background:#68645b;
}






