$orange : rgba(243, 156, 18,1.0);
$bleu : rgba(52, 152, 219,1.0);
$vert : rgba(46, 204, 113,1.0);
$gris : rgba(52, 73, 94,1.0);
$rouge : rgba(231, 76, 60,1.0);
$vertpmu : #00a01e;



body {
  margin: 0;
}
video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('contenu/cheval.jpg') no-repeat;
    background-size: cover;
    transition: 1s opacity;
}





.polina { 

  margin-top: 500px;
  margin-left: 350px;

  button{
  font-size: 1.3rem;
  background-color: $rouge;
  color: #fff;
  text-align: center;
  border-radius: 5px;


         } a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 3vw;
  font-weight: bolder;
 
              }
  
          }



.para1 {
	text-align: center;
}






 .logo-pmu {
  height: 10%;
  width: 10%;
  transition-duration: 1s;

&:hover {
  transform: scale(1.07);
  transition-duration: 1s;
}

}



/* ----- FOOTER ---- */ 

.footer {
  background-color:#e0e0eb;
}


.traitbas
    {
    border-top: 2px solid black;
    padding-top: 12px;
    margin-top: 10px;
    }

.tipo {
  font-style:italic;
}


.taille {
  font-size:10px;
}



/* ------ JEUX ------ */
#commentjouer {
  font-family:'arial';
  font-size: 8rem;
  color: #e55706;
  text-align: center;
  font-weight: bolder;
}
.section-comment {
  background: #063e76;
}
.section-comment ul.instructions-container {
  list-style: none;
  margin: 80px 0px 0;
  font-size: 0px;
  background-color: #ffffff;
  border: 4px solid #dc4605;
}
.section-comment ul.instructions-container li.instruction {
  display: inline-block;
  width: 33%;
  font-size: 20px;
  min-height: 235px;
  vertical-align: top;
  background-color: #ffffff;
  color: #261c64;
  padding: 116px 10px 148px;
  position: relative;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.section-comment ul.instructions-container li.instruction .puce {
  width: 54px;
  height: 54px;
  border: 3px solid #dc4605;
  background-color: #dc4605;
  position: absolute;
  text-align: center;
  top: -30px;
  z-index: 30;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 28px;
  behavior: url('../css/PIE.php');
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
}
.section-comment ul.instructions-container li.instruction .puce .puce-inner {
  width: 48px;
  height: 48px;
  border: 3px solid #ffffff;
  margin: 0 auto;
  color: #ffffff;
  line-height: 40px;
  font-size: 1.250em;
  font-weight: bold;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  behavior: url('../css/PIE.php');
  background: #e55706;
}
.section-comment ul.instructions-container li.instruction h4 {
  color: #dc4605;
  font-size: 0.875em;
}
.section-comment ul.instructions-container li.instruction p {
  font-size: 0.750em;
  margin-top: 10px;
  line-height: 1.75em;
}
.section-comment ul.instructions-container li.instruction p a {
  color: #dc4605;
  text-decoration: underline;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.section-comment ul.instructions-container li.instruction:after {
  display: block;
  width: 1px;
  height: 75%;
  content: " ";
  background-color: #dc4605;
  position: absolute;
  top: 90px;
  right: 0;
  z-index: 20;
}

.section-comment ul.details {
  font-size: 0.75em;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 3px;
}






/* ----- VALIDER ------ */


.validé {
  background-color: $vertpmu;
}
img {
  img-validé {
    height: 150px;    
    width: 150px;
  }
}
















/* ----- Inscription ------ */


.box-formulaire {
  background-color: $vertpmu;
  border-radius: 5px;
  h1 {
    font-size: 1.5rem;
    color: #fff;
    font-weight: bolder;
  }
}


.bg1{
  background-image: url('../contenu/images/pelouse.jpg');
  padding: 61px;





} 

form{
    formulaire {

  text-align: center;
}
}

.requis {
  border-radius: 10px;
  background-color: #fff;
    &:focus {
      background-color: $rouge;
    }
}






.textarea {
  border-radius: 10px;
  background-color: $rouge;
  &:focus{
     background-color: #ffffff;

  }

}

.text-formu {
color: #fff;
font-size: bolder;

}

  .envoyer {
  text-align: center;
  background-color: rgba(231, 76, 60,1.0);
  border-radius: 10px;
  text-align: center;
      &:hover {
    transform: scale(1.2);
    background-color: rgba(231, 76, 60,.4);
    color: #ffffff;

               }
  }



.navi {
  background-color:#808080;
}

.navbar-default .navbar-nav  li  a {
  color:white;

}

.navbar-default {
  .navbar-nav{
    color:white;
  }
}

/* footer */

