$orange : rgba(243, 156, 18,1.0);
$bleu : rgba(52, 152, 219,1.0);
$vert : rgba(46, 204, 113,1.0);
$gris : rgba(52, 73, 94,1.0);
$rouge : rgba(231, 76, 60,1.0);

@import "compass/css3";

body {
  margin: 0;
}
video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('contenu/cheval.jpg') no-repeat;
    background-size: cover;
    transition: 1s opacity;
}





.polina { 

  margin-top: 500px;
  margin-left: 350px;

  button{
  font-size: 1.3rem;
  background-color: $rouge;
  color: #fff;
  text-align: center;
  border-radius: 5px;


         } a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 3vw;
  font-weight: bolder;
 
              }
  
          }



.para1 {
	text-align: center;
}



.block1 {
	height: 42rem;
	background-color: $gris;
}


.ul1 {
	padding: 5rem;
	 .li1{
		list-style: none;
		color: #fff;
		font-size: 2rem;
		text-align: center;
		padding: 1rem;
		background-color: $vert;
		margin: 3rem;
		border-radius: 5px;

	      }
    }



 .logo-pmu {
  height: 10%;
  width: 10%;
  transition-duration: 1s;

&:hover {
  transform: scale(1.07);
  transition-duration: 1s;
}

}



/* ----- FOOTER ---- */ 

.footer {
  background-color:#e0e0eb;
}


.traitbas
    {
    border-top: 2px solid black;
    padding-top: 12px;
    margin-top: 10px;
    }

.tipo {
  font-style:italic;
}


.taille {
  font-size:10px;
}











/* ----- CONTACTS ------ */

.icons1 {
  height: 150px;
  width:150px;
  list-style-type: none;
  text-align: center;
  margin: 29px;
    margin-bottom: -2px;


}
.icons1:hover {
  transform: scale(1.16);

  
}
.liste-icons1 {
  text-align: center;
  display: inline-block;
  list-style-type: none

}
ul.list1  {
  margin-top: 150px;
    text-align: center;

}

.contacts {
  margin-top: 100px;
  

}
.requis {
  border-radius: 10px;
  background-color: rgba(127, 140, 141,.2);

}
.requis:focus {
  background-color: #ffffff;
}
.text {
  border-radius: 10px;
  background-color: rgba(127, 140, 141,.2);

}
.text:focus {
  background-color: #ffffff;
}
.textarea {
  border-radius: 10px;
  background-color: rgba(127, 140, 141,.2);

}
.textarea:focus {
  background-color: #ffffff;
}
.text-formu {
color: rgba(231, 76, 60,1.0);

}

.envoyer{
  background-color: rgba(231, 76, 60,1.0);
  border-radius: 10px;
}
.envoyer:hover {
  transform: scale(1.2);
  background-color: rgba(231, 76, 60,.4);
  color: #ffffff;

}